ul.cart-items
  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-1", 140, 136, "Стайлер Dyson HS01 Airwrap")
      a.cart-items__name(href="#")
        span.cart-items__title Стайлер Dyson HS01 Airwrap
        span.cart-items__text для волос complete 8 насадок + чехол
    .cart-items__controls
      .cart-items__quantity.quantity-block
        button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
        label.visually-hidden(for="cart-item-1")
        input(type="text" value="2" name="cart-item-1" id="cart-item-1" data-min="1" data-max="999" title="Количество")
        button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      span.cart-items__cost
        span 31 990
        span ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")

  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-2", 140, 136, "Фен Dyson HS01 Supersonics")
      a.cart-items__name(href="#")
        span.cart-items__title Фен Dyson HS01 Supersonics
        span.cart-items__text для волос complete 8 насадок + чехол
    .cart-items__controls
      .cart-items__quantity.quantity-block
        button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
        label.visually-hidden(for="cart-item-2")
        input(type="text" value="2" name="cart-item-2" id="cart-item-2" data-min="1" data-max="999" title="Количество")
        button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      span.cart-items__cost
        span 31 990
        span ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")

  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-1", 140, 136, "Стайлер Dyson HS01 Airwrap")
      a.cart-items__name(href="#")
        span.cart-items__title Стайлер Dyson HS01 Airwrap
        span.cart-items__text для волос complete 8 насадок + чехол
    .cart-items__controls
      .cart-items__quantity.quantity-block
        button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
        label.visually-hidden(for="cart-item-3")
        input(type="text" value="2" name="cart-item-3" id="cart-item-3" data-min="1" data-max="999" title="Количество")
        button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      span.cart-items__cost
        span 31 990
        span ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")

  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-2", 140, 136, "Фен Dyson HS01 Supersonics")
      a.cart-items__name(href="#")
        span.cart-items__title Фен Dyson HS01 Supersonics
        span.cart-items__text для волос complete 8 насадок + чехол
    .cart-items__controls
      .cart-items__quantity.quantity-block
        button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
        label.visually-hidden(for="cart-item-4")
        input(type="text" value="2" name="cart-item-4" id="cart-item-4" data-min="1" data-max="999" title="Количество")
        button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      span.cart-items__cost
        span 31 990
        span ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")

