$desktop: 1199px;
$laptop: 1023px;
$tablet: 991px;
$mobile: 767px;
$width-min: 320px;

/*Шрифты*/
$font-main: "Roboto", "Arial", sans-serif;
$font-title: "Montserrat", "Arial", sans-serif;

/*Цвета*/
$white: #ffffff;
$black: #000000;
$black-font: #0f0f0f;
$fuchsia: #b42079;
$violet-font: #7e45b4;
$grey-border: #ebebeb;
$grey-font: #848484;
$grey-font-light: #e2e2e2;
$grey-dark: #312a2c;
$grey-light: #eeeeee;
