.main-banner
  ul.main-banner__list.swiper-wrapper
    li.main-banner__item.swiper-slide
      .main-banner__container.container
        .main-banner__content
          a.main-banner__category(href="#") Фен для волос
          a.main-banner__title(href="#") Dyson Supersonic<sup>TM</sup>
          p.main-banner__promotion *по акции с чехлом
          p.main-banner__advantages
            +svg("waves", 20, 39)
            span Помогает избежать чрезмерного нагревания волос, защищая их естественный блеск
          .main-banner__buy
            span.main-banner__price 31 990 ₽
            a.button-buy(href="#") Купить со скидкой
      .main-banner__img
        +picture-png-webp("main-banner", 851, 615, "Dyson Supersonic")

    li.main-banner__item.swiper-slide
      .main-banner__container.container
        .main-banner__content
          a.main-banner__category(href="#") Фен для волос
          a.main-banner__title(href="#") Dyson Supersonic<sup>TM</sup>
          p.main-banner__promotion *по акции с чехлом
          p.main-banner__advantages
            +svg("waves", 20, 39)
            span Помогает избежать чрезмерного нагревания волос, защищая их естественный блеск
          .main-banner__buy
            span.main-banner__price 31 990 ₽
            a.button-buy(href="#") Купить со скидкой
      .main-banner__img
        +picture-png-webp("main-banner", 851, 615, "Dyson Supersonic")

    li.main-banner__item.swiper-slide
      .main-banner__container.container
        .main-banner__content
          a.main-banner__category(href="#") Фен для волос
          a.main-banner__title(href="#") Dyson Supersonic<sup>TM</sup>
          p.main-banner__promotion *по акции с чехлом
          p.main-banner__advantages
            +svg("waves", 20, 39)
            span Помогает избежать чрезмерного нагревания волос, защищая их естественный блеск
          .main-banner__buy
            span.main-banner__price 31 990 ₽
            a.button-buy(href="#") Купить со скидкой
      .main-banner__img
        +picture-png-webp("main-banner", 851, 615, "Dyson Supersonic")

  .main-banner__pagination.swiper-pagination

  .main-banner__nav
    .main-banner__nav-container
      .main-banner__prev.button-arrow.button-arrow--prev(type="button" title="Предыдущий слайд")
      .main-banner__next.button-arrow.button-arrow--next(type="button" title="Следующий слайд")
