section.advantages
  .container
    .advantages__wrapper
      h2.visually-hidden Преимущества
      ul.advantages__list
        li.advantages__item
          +svg("badge", 41, 54)
          p Доставка по Москве за 2 часа
        li.advantages__item
          +svg("badge", 41, 54)
          p Доставка по России за 2-3 дня
        li.advantages__item
          +svg("badge", 41, 54)
          p Гарантия на продукцию 2 года
