section.reviews
  .container.container--np
    h2.title Обзоры
    ul.reviews__list
      li.reviews__item
        .reviews__wrapper
          a.reviews__img(href="#")
            .reviews__container
              +picture-png-webp("reviews", 270, 162, "Распаковка фена Dyson Supersonic")
          a.reviews__title(href="#") Распаковка фена Dyson Supersonic
      li.reviews__item
        .reviews__wrapper
          a.reviews__img(href="#")
            .reviews__container
              +picture-png-webp("reviews-2", 270, 162, "Распаковка фена Dyson Supersonic")
          a.reviews__title(href="#") Распаковка фена Dyson Supersonic
      li.reviews__item
        .reviews__wrapper
          a.reviews__img(href="#")
            .reviews__container
              +picture-png-webp("reviews-3", 270, 162, "Распаковка фена Dyson Supersonic")
          a.reviews__title(href="#") Распаковка фена Dyson Supersonic
      li.reviews__item
        .reviews__wrapper
          a.reviews__img(href="#")
            .reviews__container
              +picture-png-webp("reviews-4", 270, 162, "Обзор увлажнителя воздуха Dyson Cool")
          a.reviews__title(href="#") Обзор увлажнителя воздуха Dyson Cool

