.product-description
  h1.product-description__product Стайлер Dyson HS01 Airwrap
  p.product-description__article Артикул: <span>16665555</span>

  h2.product-description__title Основные характеристики

  p.product-description__text-title Насадки:

  p.product-description__text 30-мм цилиндрические насадки Airwrap для завивки
  p.product-description__text 40-мм цилиндрические насадки Airwrap для завивки
  p.product-description__text Жесткая щетка для выпрямления
  p.product-description__text Круглая щетка для создания объема
  p.product-description__text Насадка для сушки

  p.product-description__text-title Максимальная потребляемая мощность: 1300 Вт

  p.product-description__text-title Цвет: Розовый, Серебристый

  h2.product-description__title Управление

  p.product-description__text Количество скоростей: 3
  p.product-description__text Количество режимов нагрева: 3
