.modal-buy-click {

  &__wrapper {
    max-width: 620px;
    width: 100%;

    @media (max-width: $mobile) {
      max-width: 400px;
    }
  }

  &__container {
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: $mobile) {
      padding: 30px 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    margin: 0;
    padding: 0 0 40px;

    @include font-b(24px, 1.2, $black-font);

    @media (max-width: $mobile) {
      text-align: left;

      padding-right: 60px;

      svg {
        display: none;
      }
    }

    svg {
      width: 30px;
      height: 29px;
      margin-right: 28px;

      fill: $fuchsia;
    }
  }

  &__img {
    width: 100%;
    max-width: 155px;
    margin-right: 45px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 2;

    width: 50%;
    max-width: 320px;

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-top: 20px;
    }
  }

  &__name {
    margin: 0 0 25px;
    padding: 0;

    @include font-b(24px, 1.2, $black-font);
  }

  &__price {
    margin: 0 0 25px;
    padding: 0;

    @include font-m(30px, 1.2, $black-font);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-width: 200px;
    min-height: 58px;
    padding: 17px 22px 16px;
    margin: 0 0 19px;

    @include font-r(19px, 1.2, $white);
    text-decoration: none;

    border: none;
    background-color: $fuchsia;
    border-radius: 4px;

    transition-property: background-color, opacity;
    transition-duration: 0.3s;

    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: #22b25c;
      border-color: #22b25c;
    }

    &:active {
      opacity: 0.5;
    }

    svg {
      width: 20px;
      height: 19px;
      margin-right: 28px;

      fill: $white;
    }

    &--close {
      color: $fuchsia;

      background-color: $white;

      &:hover,
      &:focus {
        color: $white;

        svg {
          fill: $white;
        }
      }

      svg {
        width: 18px;
        height: 26px;
        margin-right: 19px;

        fill: $fuchsia;

        will-change: fill;
        transition-property: full;
        transition-duration: 0.3s;
      }
    }
  }
}
