extends pug/layout

block variables
  -let title = "Главная";

block content
  h1.visually-hidden Dysons shop
  main
    include components/main-banner/main-banner
    include components/menu-catalog/menu-catalog
    include components/novelties/novelties
    include components/reviews/reviews
    include components/advantages/advantages

